<ion-card>
    <ion-card-header>
        <ion-card-subtitle>Recherche d'interprète</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
        <mat-form-field appearance="outline">
            <mat-label>De</mat-label>
            <mat-select [(ngModel)]="selectedFrom">
                <mat-option *ngFor="let lang of langs" [value]="lang">{{lang.label}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Vers</mat-label>
            <mat-select [(ngModel)]="selectedTo">
                <mat-option *ngFor="let lang of langs" [value]="lang">{{lang.label}}</mat-option>
            </mat-select>
        </mat-form-field>
    </ion-card-content>
</ion-card>


<ion-button color="primary" (click)="createTransaction()">Rechercher</ion-button>