<ion-card>
    <ion-card-header>
        <ion-card-subtitle>Demande de traduction</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
        <ion-label>De</ion-label>
        <ion-select placeholder="Select One" interface="popover" [(ngModel)]="selectedFrom">
            <ion-select-option value="FRA">FRA</ion-select-option>
            <ion-select-option value="ENG">ENG</ion-select-option>
        </ion-select>

        <ion-label>Vers</ion-label>
        <ion-select placeholder="Select One" interface="popover" [(ngModel)]="selectedTo">
            <ion-select-option value="FRA">FRA</ion-select-option>
            <ion-select-option value="ENG">ENG</ion-select-option>
        </ion-select>
    </ion-card-content>
</ion-card>


<ion-button color="primary" (click)="createTransaction()">Rechercher</ion-button>